mule-radio-app/src/main/app/agent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/1.0/mule-objectstore.xsd">
	<context:property-placeholder location="tenant.properties"/>
	
	<spring:beans>
		<spring:bean class="org.mule.hackathon.MuleRadioObjectStore" id="customObjectStore"></spring:bean>
	</spring:beans>
	
    <objectstore:config name="ObjectStore" doc:name="ObjectStore" objectStore-ref="customObjectStore"/>
    <data-mapper:config name="json_to_agentindex_grf" transformationGraphPath="json-to-agentindex.grf" doc:name="DataMapper"/>
    
    
    
    <flow name="register-flow" doc:name="register-flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="${http.host}" port="${http.port}" doc:name="HTTP" path="api/register"/>
        <data-mapper:transform config-ref="json_to_agentindex_grf" doc:name="DataMapper"/>
        <logger message="Register Attempt from: #[payload.agentId]" level="INFO" doc:name="Logger"/>
        <objectstore:store config-ref="ObjectStore" key="#[payload.agentId]" value-ref="#[payload.indexRecords]" overwrite="true" doc:name="ObjectStore"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="the list of agent index: #[payload] " level="INFO" doc:name="Logger"/>
        <http:response-builder status="200" doc:name="HTTP Response Builder"/>
    </flow>
    <flow name="agentFlow1" doc:name="agentFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="${http.host}" port="${http.port}" doc:name="HTTP" path="removeindex"/>
        <objectstore:remove config-ref="ObjectStore" key="lala" doc:name="ObjectStore"/>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[return ""]]></scripting:script>
        </scripting:transformer>
    </flow>
    <flow name="ping-agent-flow" doc:name="ping-agent-flow">
        <poll frequency="${poll.freq}" doc:name="Poll">
            <objectstore:all-keys config-ref="ObjectStore" doc:name="ObjectStore"/>
        </poll>
        <foreach doc:name="For Each">
            <logger message="Pinging host: #[payload]" level="INFO" doc:name="Logger"/>
            <set-variable variableName="osKey" value="#[payload]" doc:name="osKey"/>
            <http:outbound-endpoint exchange-pattern="request-response" address="http://#[org.mule.util.StringUtils.removeStart(payload, 'http://')]/ping" method="GET" doc:name="HTTP"/>
            <scripting:transformer doc:name="Groovy">
                <scripting:script engine="Groovy"><![CDATA[return message.getInboundProperty("http.status");]]></scripting:script>
            </scripting:transformer>
            <logger message="Agent returned: #[payload], doing NOTHING BITCH!!!!" level="INFO" doc:name="Logger"/>
        </foreach>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <objectstore:remove config-ref="ObjectStore" key="#[flowVars['osKey']]" ignoreNotExists="true" doc:name="ObjectStore"/>
            <logger message=" removing key..." level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
